.sideBar_box{
    padding: 2rem;
    border-bottom: 1px solid var(--icons-color);
    background-color: var(--main-bg-color);
}

.sideBar_closeBtn{
    position: absolute;
    top: 3rem;
    right: 2rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
    box-shadow: var(--box-shadow);

}

.sideBar_closeBtn:hover{
    transform: rotate(45deg);
}

.sideBar_socials {
    display: flex;
    gap: 1.3rem;
    font-size: 1.5rem;
    align-items: center;
}

.sideBar_socials a{
    transition: all .3s ease-in-out;
    padding: 0.2rem;
    border-radius: 50%;
    display: grid;
}
.sideBar_socials a:hover{
    transform: scale(1.1);
    background-color: var(--icons-color);
      color:var(--shadow-dark-color);
      box-shadow: var(--box-shadow);
}

.sidebar_menu{
    padding: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid var(--icons-color);
}

.sidebar_menu_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}

.sidebar_discover{
    padding-inline: 1rem;
}

.sidebar_button{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}